.user {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.photo {
    background-color: lightgray;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.link {
    margin: 0px;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}